* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    font-weight: 500;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1320px;
    padding: 0 32px;
    margin: auto;
}

.nav-toggle, .nav-close {
    /* .nav-close { */
        font-size: 20px;
        cursor: pointer;
        /* display: none; */
    }

/* header */

.header {
    /* border: 1px solid red; */
    padding: 16px 0;
}

.header .nav {
    /* flex: 1; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav-position {
    display: flex;
    align-items: center;
}

.header .logo {
    /* flex: 1; */
    width: 120px;
}

.header .links {
    /* border: 1px solid purple; */
    display: flex;
    /* justify-content: space-between; */
}

.header .links li {
    margin-left: 24px;
}
.header .links a {
    /* padding: 8px; */
    font-size: 18px;
    font-weight: 300;
}

.header .current {
    padding-bottom: 4px;
    border-bottom: 1px solid #000;
}

.header .social {
    /* flex: 1; */
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .social a {
    margin-left: 34px;
    background-color: #ff6478;;
    color: #fff;
    padding: 4px 8px;
    border-radius: 8px;

}

.header .social a .line {
    font-size: 20px;
}

.header .social .login {
    /* background-color: red; */
    color: #fff;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 14px;
    margin-left: 34px;
    transition: 0.5s;
}

.header .social a:hover,
.header .social .login:hover {
    opacity: 0.5;
}

.header .nav-close, .header .nav-toggle {
    display: none;
}

@media (max-width: 968px) {
    .header {
        /* display: none; */
        position: relative;
        top: 0;
        left: 0;
    }
    .header .nav-toggle {
        display: block;
    }
    .header .nav-position{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: rgb(110, 91, 110);
        width: 80%;
        height: 100%;
        transition: right .4s;
        flex-direction: column;
        color: #fff;
        background-color:#334282;
        /* align-items: center; */
        /* justify-content: center; */
        /* z-index: 5; */
    }

    .header .links {
        flex-direction: column;
        /* justify-items: center;marg */
        margin-top: 40px;
    }

    .header .links li {
        padding: 24px 0;
    }

    .header .links li a {
        color: #fff;
    }

    .header .links .nav-close {
        position: absolute;
        top: 0;
        right: 50px;
    }

    /* .header .social {
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgb(110, 91, 110);
        width: 80%;
        height: 100%;
        transition: right .4s;
        flex-direction: column;
    } */

    /* .nav li { */
        /* display: flex; */
        /* margin-bottom: 32px; */
    /* } */

    /* .nav-toggle { */
        /* display: block; */
    /* } */
}

/* Who we are */
.whoweare {
    background-color:#334282;
    color: #fff;
    /* border: 1px solid red; */
    height: 100vh;
}

.whoweare .container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    gap: 3rem;
}

.whoweare .objective,
.whoweare .vision,
.whoweare .mission {
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 24px;
    color: #000;
    border-radius: 8px;
}

.whoweare h3 {
    color: #ff6478;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.whoweare p {
    line-height: 1.8;
    /* color: #ff6478; */
    /* letter-spacing: 1px; */
}

.whoweare .objective {
    /* border: 1px solid blue; */
    /* align-self:flex-start; */
}

.whoweare .vision {
    /* border: 1px solid orange; */
}

.whoweare .mission {
    /* border: 1px solid green; */
}

/* our approach */
.ourapproach {
    /* border: 1px solid orange; */
    margin: 40px 0;
}

.ourapproach .container {
    display: flex;
    margin: 0 32px;
}

.ourapproach .ourapproach-content {
    flex: 1;
    
}
.ourapproach .ourapproach-content h1 {
    font-size: 48px;
    letter-spacing: 2px;
    padding-bottom: 36px;

}

.ourapproach .ourapproach-content p {
    font-size: 18px;
    line-height: 1.8;
    padding-bottom: 38px;

}
.ourapproach .ourapproach-content ul.approach {
    /* border: 1px solid red; */
    padding-left: 48px;
    list-style:disc;

}

.ourapproach .ourapproach-content ul.approach li {
    padding-bottom: 24px;
    color:#ff6478;
    font-weight: bold;
}

.ourapproach .ourapproach-image {
    flex: 1;
    align-self: flex-start;
}

.ourapproach .ourapproach-image img {
    /* width: 300px; */
}


/* Media Query */
@media (max-width: 968px) {

    .whoweare .container {
        position: relative;
        min-height: auto;
        /* display: grid; */
        grid-template-columns: 1fr;
        /* align-items: center; */
        /* text-align: center; */
        gap: 1.5rem;
    }

    .whoweare {
        /* background-color:#334282; */
        /* color: #fff; */
        /* border: 1px solid red; */
        /* height: 100vh; */
    }
    
   
    
    .whoweare .objective,
    .whoweare .vision,
    .whoweare .mission {
        /* background-color: #fff; */
        /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); */
        padding: 16px;
        /* color: #000; */
        /* border-radius: 8px; */
    }
    
    .whoweare h3 {
        color: #ff6478;
        letter-spacing: 1px;
        margin-bottom: 8px;
    }
    
    .whoweare p {
        line-height: 1.5;
        /* color: #ff6478; */
        /* letter-spacing: 1px; */
    }
    
    .ourapproach .container {
        display: block;
        
    }

    .ourapproach .ourapproach-image img {
        width: 380px;
        justify-self: center;
    }
}

.transform {
    display: flex;
    justify-content: space-between;
    background-color:#334282;
}


.transform  .transform-content {
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    padding-left: 32px;
    flex: 1;
}

.transform  .transform-content h1 {
    font-size: 32px;
    padding-bottom: 24px;
    
}
.transform  .transform-content p {
    line-height: 1.8;
    font-size: 24px;
    padding-bottom: 32px;
}

.transform .transform-btn {
    background-color:#ff6478;
    padding: 20px 24px;
    color: #fff;
    font-size: 20px;
    border-radius: 32px;
    align-self: center;
    transition: 0.5s;
}

.transform .transform-btn:hover {
    opacity: .7
}

.transform .transform-image {
    flex: 1;
}

.testament {
    padding: 32px 0;
}

.testament .testament-heading {
    text-align: center;
    font-size: 24px;
    padding-bottom: 24px;
}

.testament .testament-text {
    font-size: 24px;
}

.connected {
    background-color: #7CDEDC;
    padding: 62px 0;
}

.connected .container {
    display: flex;
    justify-content: space-between;
}

.connected .connected-left h2 {
    font-size: 32px;
    color:#334282;
    margin-bottom: 32px;
}

.connected .connected-left .dot {
    color:#ff6478;
}

.connected .connected-left .connected-links a {
    margin-right: 15px;
    color:#ff6478;
    font-size: 18px;
    padding-bottom: 1px;
    border-bottom: 1px solid #ff6478;

}

.connected .connected-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.connected .connected-right p {
    font-size: 18px;
    margin-bottom: 40px;
}
.connected .connected-right .form-text {
    padding: 24px 32px;
    border: none;
    outline: none;
    font-size: 18px;
    margin-right: 12px;
}

.connected .connected-right .form-btn {
    background-color:#ff6478;
    cursor: pointer;
    padding: 20px 24px;
    color: #fff;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 32px;
    align-self: center;
    transition: 0.5s;

}


.connected .connected-right .form-btn:hover {
    opacity: 0.7;
}